/*ALL*/

* {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*TITLE HOMEPAGE*/
p1 {
  padding-left: 15%;
  font-size: 2.5rem;
}

/*TITLE CONTACT PAGE*/
p3 {
  padding-left: 27%;
  font-size: 2rem;
}

/*HEADER*/
ul {
  padding-bottom: 10%;
  padding-left: 0%;
}

/*PICTURE*/
.main-img {
  padding-bottom: 10%;
  padding-left: 20%;
  width: 60%;
}

/*CONTACT INFORMATION EMAIL*/
p4 {
  margin-left: 33%;
}

/*CONTACT INFORMATION NUMBER*/
p5 {
  margin-left: 35%;
}

/*FOOTER TEXT*/
footer {
  padding-top: 10%;
}
