/*ALL*/

* {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*TITLE HOMEPAGE*/
p1 {
  padding-left: 34%;
  font-size: 2.5rem;
}

/*TITLE CONTACT PAGE*/
p3 {
  padding-left: 38%;
  font-size: 2.5rem;
}

/*HEADER*/
ul {
  padding-bottom: 10%;
  padding-left: 0%;
}

/*PICTURE*/
.main-img {
  padding-bottom: 10%;
  padding-left: 20%;
  width: 60%;
}

/*FOOTER TEXT*/
footer {
  padding-top: 10%;
}
